body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #202124;
    background: linear-gradient(180deg, #202124 0%, #171717 100%);

}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    /* Horizontal gradient that matches the body */
    background: linear-gradient(to bot, #202124 0%, #2a2a2e 100%);
    background-color: #202124;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

nav li a:hover {
    background-color: #171717;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
}

input[type="text"] {
    width: clamp(250px, 85%, 600px);
    padding: clamp(12px, 2.5vw, 20px);
    font-size: 16px;
    background-color: #4d5156;
    border-radius: 24px;
    outline: none;
    border: none;
    caret-color: #e3eaed;
    color: #e3eaed;
}

input[type="text"]:hover {
    background-color: #656a70;
}

/*Add css for label*/

input[type="submit"] {
    margin: 10px;
    padding: 10px 22px;
    border-radius: 6px;
    /* Blue-to-purple gradient */
    background: linear-gradient(135deg, #2b2c2f 0%, #383141 100%);
    /* background-color: #303134; */
    cursor: pointer;
    color: #e3eaed;
    border: none;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: background 0.25 ease;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #526a91 0%, #5d4870 100%);

    outline: 1px solid #e3eaed;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    padding: clamp(10px, 2vw, 20px);

}

.outer-perimiter {
    width: 80%;
    min-width: auto;
    position: relative;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.pageTitle h1 {
    font-family: Google Sans, Arial, Helvetica, sans-serif;
    font-size: clamp(24px, 5vw + 1rem, 90px);
    color: white;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
    margin: clamp(10px, 3vh, 30px);
    width: auto;
    text-align: center;
    line-height: 1, 2;
}

.submit-row {
    display: flex;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

.advanced-form-entry {
    /* TODO Implement this with grid instead */
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: white;
    width: 100%;
}